/*@global*/

.mif-treegrid-container{
width:100%;
height:100%;
overflow:auto;
color:#000;
position:absolute;
}

.mif-treegrid-wrapper{
position: absolute;
margin:0;
padding:0;
overflow:auto;
font-family:Arial, sans-serif;
font-size:12px;
white-space:nowrap;
cursor:default;
border-collapse:collapse;
line-height:19px;
}

.mif-treegrid-header{
background:#e2e2e2;
}

.mif-treegrid-col{
display: block;
float:left;
vertical-align: middle;
height:19px;
overflow:hidden;
}

/* .mif-browser-trident .mif-treegrid-col{
display:inline-block;
} */

.mif-browser-presto .mif-treegrid-wrapper{
border-bottom:solid 17px transparent;
}


.mif-treegrid-indent-bit{
padding-left:18px;
}

.mif-treegrid-wrapper span{
display: table-cell;
vertical-align: middle;
height:19px;
line-height:19px;
cursor:inherit;
}

.mif-browser-trident .mif-treegrid-wrapper span{
display:inline-block;
}

/*.mif-treegrid-bg-selected{
background-color:#dcd7ab;
}*/

.mif-treegrid-wrapper td{
vertical-align:top;
/* width:1%; */
white-space:nowrap;
}

.mif-treegrid-wrapper:focus{
outline:0;
}

.mif-treegrid-children{
/* padding-left:18px; */
/*width:18px;*/
}

.mif-treegrid-node{
/*width:18px;*/
/* background:url('../../images/TreeGrid/line.gif') repeat-y 8px 0px; */
position: relative;
}

/* .mif-treegrid-node-last{
background:url('../../images/TreeGrid/line.gif') no-repeat 8px 0px;
} */

.mif-treegrid-name{
padding-left:4px;
}

.mif-treegrid-col{
border-right:solid 1px #eee;
border-bottom:solid 1px #eee;
}


/* .mif-treegrid-node-wrapper{
background:url('../../images/TreeGrid/horizontal-line.gif') no-repeat 9px center;
} */

/*@end global*/


/*@gadjet*/

.mif-treegrid-gadjet{
background-image:url('../../images/TreeGrid/arrows.gif');
padding-left: 16px;
z-index:1;
overflow:hidden;
background-repeat:no-repeat;
cursor:default;
}

.mif-treegrid-gadjet-none{
background:none;
}

.mif-treegrid-gadjet-minus{
background-position: -16px 50%;
}

.mif-treegrid-gadjet-plus{
background-position: 0px 50%;
}


.mif-treegrid-hover-gadjet .mif-treegrid-gadjet-minus{
background-position: -48px 50%;
}

.mif-treegrid-hover-gadjet .mif-treegrid-gadjet-plus{
background-position: -32px 50%;
}

/*.mif-treegrid-gadjet-hover{
background-image:url('../../Source/assets/../../Source/assets/images/gadjets-hover.gif');
}*/


/*@end gadjet*/


/*@icon*/
.mif-treegrid-icon{
margin-left:1px;
padding-right:16px;
background-position:0 center;
background-repeat:no-repeat;
background-repeat:no-repeat;
cursor:inherit;
}

.mif-treegrid-open-icon{
background-image:url('../../images/TreeGrid/folders.gif');
}

.mif-treegrid-close-icon{
background-image:url('../../images/TreeGrid/folders.gif');
}

.mif-treegrid-loader-open-icon,.mif-treegrid-loader-close-icon{
background-image:url('../../images/TreeGrid/mootree_loader.gif');
}

.mif-treegrid-book-icon{
background-image:url('../../images/TreeGrid/book_icon.gif');
}

.mif-treegrid-bin-open-icon{
background-image:url('../../images/TreeGrid/bin_open_icon.gif');
}

.mif-treegrid-bin-close-icon{
background-image:url('../../images/TreeGrid/bin_close_icon.gif');
}

/*@end icon*/


/*@drag and drop*/
.mif-treegrid-pointer{
height:1px;
overflow: hidden;
position: absolute;
background-image:url('../../images/TreeGrid/1.gif');
background-repeat:repeat-x;
background-color:#3891e0;
}


.mif-treegrid-ghost{

}

.mif-treegrid-ghost-icon{
padding-left:16px;
background-repeat:no-repeat;
background-image:url('../../images/TreeGrid/dropzone.gif');
}

.mif-treegrid-ghost-after{
background-position:-64px 2px;
}

.mif-treegrid-ghost-before{
background-position:-48px 2px;
}

.mif-treegrid-ghost-between{
background-position:-16px 2px;
}

.mif-treegrid-ghost-inside{
background-position:-0px 2px;
}

.mif-treegrid-ghost-notAllowed{
background-position:-32px 2px;
}

.mif-treegrid-drag-current{
/*background-color:#cfcfd8;*/
}

.mif-treegrid-replace{
background-color:#99c8fb;
}

/*end drag and drop*/


/*@checkboxes*/
.mif-treegrid-checkbox{
padding-left:18px;
}

.mif-treegrid-node-checked, .mif-treegrid-node-checked .mif-treegrid-checkbox{
background:url('../../images/TreeGrid/checked.gif') center 2px no-repeat;
}

.mif-treegrid-node-unchecked, .mif-treegrid-node-unchecked .mif-treegrid-checkbox{
background:url('../../images/TreeGrid/unchecked.gif') center 2px no-repeat;
}

.mif-treegrid-node-checked-selected{
background:url('../../images/TreeGrid/checked_selected.gif') center 2px no-repeat;
}

.mif-treegrid-node-unchecked-selected{
background:url('../../images/TreeGrid/unchecked_selected.gif') center 2px no-repeat;
}

/*@end checkboxes*/


/*@rename*/
.mif-treegrid-rename{
display: inline;
line-height: 14px;
height:14px;
cursor: default;
overflow:hidden;
font-family:sans-serif;
font-size:11px;
padding:1px 0;
border:solid 1px black;
}

/*@end rename*/









.mif-treegrid-hover-row{
background:#efefef;
}

.mif-treegrid-selected{
background:#b1d7e4;
}


/*node skin*/

/* .mif-treegrid-light{
overflow:hidden;
}

.mif-treegrid-left{
overflow:hidden;
padding-left:4px;
}

.mif-treegrid-right{
overflow:hidden;
padding-left:4px;
}

.mif-treegrid-hover-name .mif-treegrid-light, .mif-treegrid-hover-icon .mif-treegrid-light{
background:url('../../images/TreeGrid/tree-bg.gif') center -95px repeat-x;
}

.mif-treegrid-hover-name .mif-treegrid-left, .mif-treegrid-hover-icon .mif-treegrid-left{
background:url('../../images/TreeGrid/tree-bg.gif') left -57px no-repeat;
}

.mif-treegrid-hover-name .mif-treegrid-right, .mif-treegrid-hover-icon .mif-treegrid-right{
background:url('../../images/TreeGrid/tree-bg.gif') right -76px no-repeat;
}

.mif-treegrid-node-selected .mif-treegrid-light{
background:url('../../images/TreeGrid/tree-bg.gif') center -38px repeat-x;
}

.mif-treegrid-node-selected .mif-treegrid-left{
background:url('../../images/TreeGrid/tree-bg.gif') left -0px no-repeat;
}

.mif-treegrid-node-selected .mif-treegrid-right{
background:url('../../images/TreeGrid/tree-bg.gif') right -19px no-repeat;
}

.mif-treegrid-draggable .mif-treegrid-light{
background:url('../../images/TreeGrid/tree-bg.gif') center -152px repeat-x;
}

.mif-treegrid-draggable .mif-treegrid-left{
background:url('../../images/TreeGrid/tree-bg.gif') left -114px no-repeat;
}

.mif-treegrid-draggable .mif-treegrid-right{
background:url('../../images/TreeGrid/tree-bg.gif') right -133px no-repeat;
} */
/*end node skin*/




/* 

.mif-treegrid-light{
position: absolute;
height:19px;
background:url('../../images/TreeGrid/tree-bg.gif') center -95px repeat-x;
margin-left:-1px;
width:0;
}

.mif-treegrid-light-left{
position: absolute;
width:100%;
height:100%;
background-image:url('../../images/TreeGrid/tree-bg.gif');
background-repeat: no-repeat;
background-position: left -57px;
}


.mif-treegrid-light-right{
position: absolute;
width:100%;
height:100%;
background:url('../../images/TreeGrid/tree-bg.gif') right -76px no-repeat;
}




.mif-treegrid-light-selected{
position: absolute;
height:19px;
background:url('../../images/TreeGrid/tree-bg.gif') 50% -38px repeat-x;
margin-left:-1px;
overflow:hidden;
}

.mif-treegrid-light-left-selected{
top:0;
left:0;
position: absolute;
width:100%;
height:100%;
background-image:url('../../images/TreeGrid/tree-bg.gif');
background-repeat: no-repeat;
background-position: 0 0px;
overflow:hidden;
}


.mif-treegrid-light-right-selected{
position: absolute;
top:0;
left:0;
width:100%;
height:100%;
background:url('../../images/TreeGrid/tree-bg.gif');
background-repeat: no-repeat;
background-position: right -19px;
overflow:hidden;
}



.mif-treegrid-light-dragged{
position: absolute;
height:19px;
background:url('../../images/TreeGrid/tree-bg.gif') 50% -152px repeat-x;
margin-left:-1px;
overflow:hidden;
}

.mif-treegrid-light-left-dragged{
top:0;
left:0;
position: absolute;
width:100%;
height:100%;
background-image:url('../../images/TreeGrid/tree-bg.gif');
background-repeat: no-repeat;
background-position: left -114px;
overflow:hidden;
}


.mif-treegrid-light-right-dragged{
position: absolute;
top:0;
left:0;
width:100%;
height:100%;
background:url('../../images/TreeGrid/tree-bg.gif');
background-repeat: no-repeat;
background-position: right -133px;
overflow:hidden;
}



.mif-treegrid-light-row .mif-treegrid-light, .mif-treegrid-light-row .mif-treegrid-light-selected, .mif-treegrid-light-row .mif-treegrid-light-dragged{
margin-left:0;
}

.mif-treegrid-light-row .mif-treegrid-light{
background:#eff3f8;
}

.mif-treegrid-light-row .mif-treegrid-light-selected{
background:#bcd5f3;
}

.mif-treegrid-light-row .mif-treegrid-light-dragged{
background:#eee;
}

.mif-treegrid-light-row .mif-treegrid-light *, .mif-treegrid-light-row .mif-treegrid-light-selected *, .mif-treegrid-light-row .mif-treegrid-light-dragged *{
background:none;
} */